/* Los estilos de tu proyecto */

.bg-image {
    background-image: url("../assets/images/taxi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
}
.bg-image2 {
    background-image: url("../assets/images/conduce.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.bg-color1 {
    background-color: #F7B617;
}
.bg-color2 {
    background-color: #2B2B2B;
}
.text-white {
    color: #ffffff;
}
.text-black {
    color: black;
}
.btn-color1 {
    background-color: #ffffff;
    border: none;
}
.btn-color2 {
    background-color: #F7B617;
    border: none;
}
.border {
    border: 1px solid #ffffff;
}
.list-style {
    list-style: none;
    line-height: 30px;
}

@media (min-width: 768px) {
    .view-mobile {
        display: none;
    }
}
@media (max-width: 768px) {
    .view-desktop {
        display: none;
    }
}
